In [1]:
from sqlalchemy import create_engine


host='192.168.10.17'
database_j = 'jips'
database_m = 'metadata'
user='root'
password='1234'
port=3306

In [3]:
try:
#     sql = "CREATE DATABASE metadata"
#     engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}')    
    engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}:{port}')    
#     df = pd.read_sql(sql, con=engine)
    with engine.connect() as conn:
        conn.execute(f"CREATE DATABASE IF NOT EXISTS metadata")  

except Exception as e:
    print(e)

In [4]:
# ddl = "CREATE TABLE metadata.eda( \
# id int not null auto_increment, \
# tblname VARCHAR(100) NOT NULL, \
# gubun VARCHAR(50) NOT NULL, \
# variable VARCHAR(50) NOT NULL, \
# description VARCHAR(100) NOT NULL, \
# value varchar(400), \
# PRIMARY KEY (id))"

# try: 
#     engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}:{port}')    
#     with engine.connect() as conn:
#         conn.execute("DROP TABLE IF EXISTS metadata.eda")
#         conn.execute(ddl)
# except Exception as e:
#     print(e)

In [6]:
ddl = "CREATE TABLE metadata.dcat( \
id int not null auto_increment, \
filename VARCHAR(100) NOT NULL, \
filetype VARCHAR(10) NOT NULL, \
PRIMARY KEY (id))"

try: 
    engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}:{port}')    
    with engine.connect() as conn:
        conn.execute("DROP TABLE IF EXISTS metadata.dcat")
        conn.execute(ddl)
except Exception as e:
    print(e)