In [1]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv(r"C:\Users\jh\0py_dev\digitalship\data\higgs\higgs_ori.csv")
df = pd.read_csv(r"C:\Users\jh\0py_dev\digitalship\data\metro\MetroPT3(AirCompressor) _ori.csv")

In [17]:
# df['Label'].value_counts(True)
df['y'].value_counts()

0    1011676
1      36899
Name: y, dtype: int64

In [4]:
df.columns

Index(['timestamp', 'TP2', 'TP3', 'H1', 'DV_pressure', 'Reservoirs',
       'Oil_temperature', 'Motor_current', 'COMP', 'DV_eletric', 'Towers',
       'MPG', 'LPS', 'Pressure_switch', 'Oil_level', 'Caudal_impulses', 'y'],
      dtype='object')

In [5]:
# from imblearn.over_sampling import SMOTE
# X = df.drop(columns=['EventId', 'Label'])
# y = df['Label']
# oversample = SMOTE(sampling_strategy=0.85, random_state=0)
# # oversample = SMOTE(random_state=0)
# X, y = oversample.fit_resample(X, y)
# df00 = pd.concat([X,y], 1)
# df00['Label'].value_counts(True)

# eventid = list(range(1, df00.shape[0]+1))
# df00['EventId'] = eventid
# df00 = df00[df.columns]
# df00

In [6]:
from imblearn.over_sampling import SMOTE
X = df.drop(columns=['timestamp', 'y'])
y = df['y']
oversample = SMOTE(sampling_strategy=1, random_state=0)
# oversample = SMOTE(random_state=0)
X, y = oversample.fit_resample(X, y)
df00 = pd.concat([X,y], 1)
df00['y'].value_counts(True)

C:\Users\jh\AppData\Local\Temp\ipykernel_20752\4146897801.py:7: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  df00 = pd.concat([X,y], 1)

0    0.5
1    0.5
Name: y, dtype: float64

In [15]:
df00['y'].value_counts()

0    1011676
1    1011676
Name: y, dtype: int64

In [18]:
df_majority = df.loc[df.y == 0].copy()
df_minority = df.loc[df.y == 1].copy()

# Upsample minority class
df_minority_upsampled = resample(df_minority,
                             replace=True,  # sample with replacement
                             n_samples=1011676,  # to match majority class
                             random_state=0)  # reproducible results

# Combine majority class with upsampled minority class
df_upsampled = pd.concat([df_majority, df_minority_upsampled])

NameError: name 'resample' is not defined

In [7]:
times = pd.date_range('2019-09-01', periods=df00.shape[0], freq='1min')
cols = ['timestamp'] + list(df00.columns)
df00['timestamp'] = times
df00 = df00[cols]
# df00

In [8]:
df00.columns

Index(['timestamp', 'TP2', 'TP3', 'H1', 'DV_pressure', 'Reservoirs',
       'Oil_temperature', 'Motor_current', 'COMP', 'DV_eletric', 'Towers',
       'MPG', 'LPS', 'Pressure_switch', 'Oil_level', 'Caudal_impulses', 'y'],
      dtype='object')

In [9]:
# ## 널 만들기
# # cols1 = ['TP2', 'TP3', 'H1', 'Reservoirs', 'Oil_temperature', 'Motor_current']
# cols1 = ['TP2', 'TP3', 'H1', 'DV_pressure', 'Reservoirs','Oil_temperature']
# cols2 = ['Motor_current', 'COMP', 'DV_eletric']
# cols3 = ['Towers','MPG', 'LPS', 'Pressure_switch', 'Oil_level']
# df_copy = df00.copy()
# for i, col in enumerate(cols1):  
#     df_copy.loc[df_copy.sample(frac=0.35).index, col] = np.nan
# for i, col in enumerate(cols2):  
#     df_copy.loc[df_copy.sample(frac=0.5).index, col] = np.nan
# for i, col in enumerate(cols3):  
#     df_copy.loc[df_copy.sample(frac=0.8).index, col] = np.nan

# y1_sample_index_list = list(df_copy[df_copy['y']==1].sample(frac=0.15).index)
# y0_sample_index_list = list(df_copy[df_copy['y']==0].sample(frac=0.15).index)
# df_copy.loc[y1_sample_index_list, 'y'] = 0
# df_copy.loc[y0_sample_index_list, 'y'] = 1
    
# df_copy.to_csv(r'C:\Users\jh\0py_dev\digitalship\data\metro\MetroPT3(AirCompressor).csv', index=False)

In [40]:
# cols1 = ['TP2', 'TP3', 'H1', 'DV_pressure', 'Reservoirs','Oil_temperature']
# cols2 = ['Motor_current', 'COMP', 'DV_eletric']
# cols3 = ['Towers','MPG', 'LPS', 'Pressure_switch', 'Oil_level']
# df_copy = df00.copy()
# for i, col in enumerate(cols1):  
#     df_copy.loc[df_copy.sample(frac=0.35).index, col] = np.nan
# for i, col in enumerate(cols2):  
#     df_copy.loc[df_copy.sample(frac=0.5).index, col] = np.nan
# for i, col in enumerate(cols3):  
#     df_copy.loc[df_copy.sample(frac=0.8).index, col] = np.nan

# y1_sample_index_list = list(df_copy[df_copy['y']==1].sample(frac=0.22).index)
# y0_sample_index_list = list(df_copy[df_copy['y']==0].sample(frac=0.22).index)
# df_copy.loc[y1_sample_index_list, 'y'] = 0
# df_copy.loc[y0_sample_index_list, 'y'] = 1
    
# df_copy.to_csv(r'C:\Users\jh\0py_dev\digitalship\data\metro\MetroPT3(AirCompressor).csv', index=False)

cols1 = ['TP2', 'TP3', 'H1']
cols2 = ['DV_pressure', 'Reservoirs','Oil_temperature']
cols3 = ['Motor_current', 'COMP', 'DV_eletric']
cols4 = ['Towers','MPG', 'LPS', 'Pressure_switch', 'Oil_level']
df_copy = df00.copy()
# for i, col in enumerate(cols1):  
#     df_copy.loc[df_copy.sample(frac=0.9).index, col] = np.nan
for i, col in enumerate(cols2):  
    df_copy.loc[df_copy.sample(frac=0.6).index, col] = np.nan
for i, col in enumerate(cols3):  
    df_copy.loc[df_copy.sample(frac=0.6).index, col] = np.nan
for i, col in enumerate(cols4):  
    df_copy.loc[df_copy.sample(frac=0.65).index, col] = np.nan

y1_sample_index_list = list(df_copy[df_copy['y']==1].sample(frac=0.1).index)
y0_sample_index_list = list(df_copy[df_copy['y']==0].sample(frac=0.25).index)
df_copy.loc[y1_sample_index_list, 'y'] = 0
df_copy.loc[y0_sample_index_list, 'y'] = 1
    
df_copy.to_csv(r'C:\Users\jh\0py_dev\digitalship\data\metro\MetroPT3(AirCompressor).csv', index=False)
df_copy['y'].value_counts(True)

1    0.575
0    0.425
Name: y, dtype: float64

In [36]:
# from sklearn.datasets import make_classification
# X, y = make_classification(n_samples=1000000, n_features=15, n_informative=5,
#                            n_redundant=0, n_clusters_per_class=1, random_state=0)
# dfx = pd.DataFrame(X)
# dfy = pd.DataFrame(y, columns=['y'])

In [37]:
# df = pd.concat([dfx, dfy], 1)
# df

C:\Users\jh\AppData\Local\Temp\ipykernel_20752\83443920.py:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  df = pd.concat([dfx, dfy], 1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,y
0,0.353411,-0.802131,-1.411918,0.504937,-0.066823,-2.383396,-0.175416,0.577633,2.324578,0.749826,-0.860145,6.601018,2.721100,0.021843,0.058117,0
1,0.669044,0.601264,-0.301888,-1.749926,1.812795,2.121569,-0.645003,-0.084161,0.291708,0.895735,-0.161936,-3.285518,-0.825901,1.274902,-1.511159,1
2,-1.779541,1.762314,4.016032,0.035792,1.355660,0.832701,-1.580263,0.154844,-2.237661,0.929003,-0.376026,-0.653855,-0.402256,0.478060,0.877429,1
3,0.207766,0.923400,3.013929,0.512850,1.719841,1.264044,0.246249,-0.240519,-1.684115,1.593128,0.272973,-0.536422,-1.529846,-0.420763,0.980616,1
4,1.617355,-1.126247,1.602206,-0.353813,0.686914,1.027330,0.446580,1.616905,-2.127050,-0.056191,-0.252091,0.327643,0.576269,0.507213,2.225067,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,-0.254640,-0.294377,1.799501,-1.157973,-0.682925,-3.114414,-0.867558,-0.526034,0.338229,-0.726139,-0.755106,0.312630,0.165513,-2.278454,-1.790693,0
999996,-0.510538,0.174858,-1.690332,-0.979341,0.159700,-2.239727,-0.133775,-0.169664,-0.526471,-0.012527,-1.189699,-0.057659,-1.646648,-1.517083,-1.221780,0
999997,2.447973,0.056810,1.893539,-2.116490,-0.875138,3.287819,1.479123,-2.385236,-3.031637,-1.078249,0.402492,0.556222,-0.630497,0.414832,1.054854,1
999998,-0.379934,0.439629,2.269793,0.452401,0.260488,2.706326,-0.890147,-0.233110,-1.398270,-0.150975,-0.688460,-2.892836,-0.056263,0.789845,-1.947316,1
999999,0.509161,-0.158752,0.690804,2.138161,1.808553,0.280739,0.708110,-0.566717,-0.813003,-0.829218,0.135098,-1.700822,-0.552686,-0.789511,1.077414,0

In [38]:
# df_copy = df.copy()
# for i, col in enumerate(df.columns):  
#     df_copy.loc[df_copy.sample(frac=0.3).index, col] = np.nan

In [31]:
# from sklearn.linear_model import LogisticRegression
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import accuracy_score,precision_score,recall_score, f1_score, confusion_matrix
# model = LogisticRegression(random_state=0)
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
# model.fit(X_train, y_train)
# pred = model.predict(X_test)
# accuracy = round(accuracy_score(y_test, pred), 3)
# precision = round(precision_score(y_test, pred), 3)
# recall = round(recall_score(y_test, pred), 3)
# f1 = round(f1_score(y_test, pred), 3)
# print( "f1 점수:", f1, "정확도:", accuracy, "정밀도:", precision, "재현율:", recall)

f1 점수: 0.989 정확도: 0.989 정밀도: 0.984 재현율: 0.995

In [11]:
# ## 널 만들기
# cols = list(df.columns)
# cols.remove('EventId')
# cols.remove('Label')
# df1 = df0.copy()
# for i, col in enumerate(cols0):  
#     df1.loc[df1.sample(frac=0.8).index, col] = np.nan  
# for i, col in enumerate(cols1):  
#     df1.loc[df1.sample(frac=0.8).index, col] = np.nan    
# for i, col in enumerate(cols2):
#     df1.loc[df1.sample(frac=0.5).index, col] = np.nan
# df1.to_csv(r"C:\Users\jh\0py_dev\digitalship\data\higgs\higgs.csv", index=False)

ValueError: list.remove(x): x not in list

In [ ]:
df00

In [ ]:
df0['Label'].value_counts(True)

In [ ]:
df10 = df00.replace(-999, np.nan)
cols = list(df.columns)
cols.remove('EventId')
cols.remove('Label')
df1 = df10.copy()
for i, col in enumerate(cols0):  
    df1.loc[df1.sample(frac=0.8).index, col] = np.nan  
for i, col in enumerate(cols1):  
    df1.loc[df1.sample(frac=0.8).index, col] = np.nan    
for i, col in enumerate(cols2):
    df1.loc[df1.sample(frac=0.5).index, col] = np.nan
df1.to_csv(r"C:\Users\jh\0py_dev\digitalship\data\higgs\higgs.csv", index=False)

In [ ]:
df1.info()