In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\Digitalship_PC\pydev\digitalship\data\metro\MetroPT3(AirCompressor)_ori.csv')

In [3]:
cols = df.columns.to_list()
cols.remove('Unnamed: 0')

In [4]:
df = df[cols]

In [5]:
df['timestamp'] = pd.to_datetime(df['timestamp'], format='%Y-%m-%d %H:%M:%S')
df['y'] = 0
df

,timestamp,TP2,TP3,H1,DV_pressure,Reservoirs,Oil_temperature,Motor_current,COMP,DV_eletric,Towers,MPG,LPS,Pressure_switch,Oil_level,Caudal_impulses,y
0,2020-02-01 00:00:00,-0.012,9.358,9.340,-0.024,9.358,53.600,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0
1,2020-02-01 00:00:10,-0.014,9.348,9.332,-0.022,9.348,53.675,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0
2,2020-02-01 00:00:19,-0.012,9.338,9.322,-0.022,9.338,53.600,0.0425,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0
3,2020-02-01 00:00:29,-0.012,9.328,9.312,-0.022,9.328,53.425,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0
4,2020-02-01 00:00:39,-0.012,9.318,9.302,-0.022,9.318,53.475,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1516943,2020-09-01 03:59:10,-0.014,8.918,8.906,-0.022,8.918,59.675,0.0425,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0
1516944,2020-09-01 03:59:20,-0.014,8.904,8.888,-0.020,8.904,59.600,0.0450,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0
1516945,2020-09-01 03:59:30,-0.014,8.890,8.876,-0.022,8.892,59.600,0.0425,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0
1516946,2020-09-01 03:59:40,-0.012,8.876,8.864,-0.022,8.878,59.550,0.0450,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0
1516947,2020-09-01 03:59:50,-0.014,8.860,8.848,-0.022,8.864,59.475,0.0425,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0

In [6]:
fault = ['4/12/2020 11:50', '4/12/2020 23:30',
'4/18/2020 00:00', '4/18/2020 23:59',
'4/19/2020 00:00', '4/19/2020 01:30',
'4/29/2020 03:20', '4/29/2020 04:00',
'4/29/2020 22:00', '4/29/2020 22:20',
'5/13/2020 14:00', '5/13/2020 23:59',
'5/18/2020 05:00', '5/18/2020 05:30',
'5/19/2020 10:10', '5/19/2020 11:00',
'5/19/2020 22:10', '5/19/2020 23:59',
'5/20/2020 00:00', '5/20/2020 20:00',
'5/23/2020 09:50', '5/23/2020 10:10',
'5/29/2020 23:30', '5/29/2020 23:59',
'5/30/2020 00:00', '5/30/2020 06:00',
'6/01/2020 15:00', '6/01/2020 15:40',
'6/03/2020 10:00', '6/03/2020 11:00',
'6/05/2020 10:00', '6/05/2020 23:59',
'6/06/2020 00:00', '6/06/2020 23:59',
'6/07/2020 00:00', '6/07/2020 14:30',
'7/08/2020 17:30', '7/08/2020 19:00',
'7/15/2020 14:30', '7/15/2020 19:00',
'7/17/2020 04:30', '7/17/2020 05:30']

In [7]:
fault = pd.DataFrame(fault)
fault[0] = pd.to_datetime(fault[0], format='%m/%d/%Y %H:%M')
fault

                     0
0  2020-04-12 11:50:00
1  2020-04-12 23:30:00
2  2020-04-18 00:00:00
3  2020-04-18 23:59:00
4  2020-04-19 00:00:00
5  2020-04-19 01:30:00
6  2020-04-29 03:20:00
7  2020-04-29 04:00:00
8  2020-04-29 22:00:00
9  2020-04-29 22:20:00
10 2020-05-13 14:00:00
11 2020-05-13 23:59:00
12 2020-05-18 05:00:00
13 2020-05-18 05:30:00
14 2020-05-19 10:10:00
15 2020-05-19 11:00:00
16 2020-05-19 22:10:00
17 2020-05-19 23:59:00
18 2020-05-20 00:00:00
19 2020-05-20 20:00:00
20 2020-05-23 09:50:00
21 2020-05-23 10:10:00
22 2020-05-29 23:30:00
23 2020-05-29 23:59:00
24 2020-05-30 00:00:00
25 2020-05-30 06:00:00
26 2020-06-01 15:00:00
27 2020-06-01 15:40:00
28 2020-06-03 10:00:00
29 2020-06-03 11:00:00
30 2020-06-05 10:00:00
31 2020-06-05 23:59:00
32 2020-06-06 00:00:00
33 2020-06-06 23:59:00
34 2020-06-07 00:00:00
35 2020-06-07 14:30:00
36 2020-07-08 17:30:00
37 2020-07-08 19:00:00
38 2020-07-15 14:30:00
39 2020-07-15 19:00:00
40 2020-07-17 04:30:00
41 2020-07-17 05:30:00

In [8]:
def aa(df,a,b):
    df = df.copy()
    df.loc[(df['timestamp']>=a)&(df['timestamp']<=b), 'y'] = 1
    return df

In [9]:
for i in range(0,41,2):
    df = aa(df,fault.iloc[i][0],fault.iloc[i+1][0])

In [10]:
df[df['y']==1]

,timestamp,TP2,TP3,H1,DV_pressure,Reservoirs,Oil_temperature,Motor_current,COMP,DV_eletric,Towers,MPG,LPS,Pressure_switch,Oil_level,Caudal_impulses,y
525554,2020-04-12 11:50:01,-0.014,8.114,8.106,-0.022,8.118,54.925,0.0400,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1
525555,2020-04-12 11:50:11,-0.016,8.102,8.094,-0.022,8.108,54.825,0.0425,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1
525556,2020-04-12 11:50:21,-0.016,8.078,8.068,-0.024,8.082,54.825,0.0425,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1
525557,2020-04-12 11:50:31,6.936,8.042,-0.028,-0.022,8.048,54.725,5.4125,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1
525558,2020-04-12 11:50:41,8.576,8.094,-0.024,-0.022,8.096,54.600,5.8850,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183745,2020-07-17 05:29:15,5.700,5.178,-0.008,-0.014,5.172,76.250,5.0525,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1
1183746,2020-07-17 05:29:25,5.610,5.110,-0.008,-0.014,5.106,76.200,5.0675,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1
1183747,2020-07-17 05:29:35,5.802,5.330,-0.008,-0.014,5.326,76.175,5.0600,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1
1183748,2020-07-17 05:29:44,5.984,5.500,-0.008,-0.014,5.496,76.100,5.0450,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1
1183749,2020-07-17 05:29:54,6.172,5.694,-0.006,-0.014,5.690,76.100,5.2050,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1

In [11]:
df['y'].value_counts(True)

0    0.967948
1    0.032052
Name: y, dtype: float64

In [23]:
from imblearn.over_sampling import SMOTE
X = df.drop(columns=['timestamp', 'y'])
y = df['y']
oversample = SMOTE(sampling_strategy=0.05, random_state=0)
X, y = oversample.fit_resample(X, y)
df0 = pd.concat([X,y], 1)
df0['y'].value_counts(True)

C:\Users\Digitalship_PC\AppData\Local\Temp\ipykernel_12656\302433932.py:6: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  df0 = pd.concat([X,y], 1)

0    0.952381
1    0.047619
Name: y, dtype: float64

In [24]:
times = pd.date_range('2019-09-01', periods=df0.shape[0], freq='1min')
cols = ['timestamp'] + list(df0.columns)
df0['timestamp'] = times
df0 = df0[cols]
df0

,timestamp,TP2,TP3,H1,DV_pressure,Reservoirs,Oil_temperature,Motor_current,COMP,DV_eletric,Towers,MPG,LPS,Pressure_switch,Oil_level,Caudal_impulses,y
0,2019-09-01 00:00:00,-0.012000,9.358000,9.340000,-0.024000,9.358000,53.600000,0.040000,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0
1,2019-09-01 00:01:00,-0.014000,9.348000,9.332000,-0.022000,9.348000,53.675000,0.040000,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0
2,2019-09-01 00:02:00,-0.012000,9.338000,9.322000,-0.022000,9.338000,53.600000,0.042500,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0
3,2019-09-01 00:03:00,-0.012000,9.328000,9.312000,-0.022000,9.328000,53.425000,0.040000,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0
4,2019-09-01 00:04:00,-0.012000,9.318000,9.302000,-0.022000,9.318000,53.475000,0.040000,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1541738,2022-08-06 15:38:00,8.140232,7.950000,-0.006837,2.110326,7.952419,75.275000,5.497616,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1
1541739,2022-08-06 15:39:00,6.545316,7.603235,-0.006128,1.989275,7.605107,69.535653,4.977391,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1
1541740,2022-08-06 15:40:00,7.680333,7.488132,-0.006733,2.439267,7.489599,69.897495,5.499083,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1
1541741,2022-08-06 15:41:00,8.193064,7.958377,-0.007562,2.116377,7.960377,74.194528,5.618519,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1
1541742,2022-08-06 15:42:00,8.348226,8.170453,-0.008226,2.216905,8.172453,75.300000,5.626132,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1

In [28]:
## 널 만들기
cols = ['TP2', 'TP3', 'H1', 'Reservoirs']#, 'Oil_temperature'] #, 'Motor_current']
# df1 = df0.copy()
df1 = df.copy()
for i, col in enumerate(cols):
    df1.loc[df1.sample(frac=0.15).index, col] = pd.np.nan
df1.to_csv(r'C:\Users\Digitalship_PC\pydev\digitalship\data\metro\MetroPT3(AirCompressor).csv', index=False)

C:\Users\Digitalship_PC\AppData\Local\Temp\ipykernel_12656\178282065.py:6: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df1.loc[df1.sample(frac=0.15).index, col] = pd.np.nan